<div class="container row">
  {{#each Blogs}}
    <div class="col-sm-4">
      <div class="card mt-4 bg-gray border border-0 text-light">
        <a href="/blogs/{{this.slug}}">
          <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}" />
        </a>
        <div class="card-body">
          <a href="/blogs/{{this.slug}}" class="text-orange">
            <h5 class="card-title">{{this.name}}</h5>
          </a>
          <p class="card-text">{{this.description}}</p>
        </div>
      </div>
    </div>
  {{else}}
    <div class="vw-100 notFound d-flex flex-column align-items-center mt-4">
      <img
        class="rounded-1"
        src="https://th.bing.com/th/id/OIP.XiTqBXW9GjyQUXzrDzumRwHaHa?pid=ImgDet&rs=1"
        alt=""
      />
      <h3 class="text-orange">
        You don't have a blog yet!
      </h3>
      <a class="btn btn-orange" href="/blogs/create">Create Now!</a>
    </div>
  {{/each}}
</div>